<template>
    <div>
        <div class="form-group">
            <label><strong>Image:</strong></label>
            <div class="clearfix"></div>
            <img :src="book.media.data.url" alt="cover" class="img-thumbnail" width="300" height="300">
        </div>

        <div class="form-group">
            <label><strong>Title:</strong></label>
            <p>{{ book.title }}</p>
        </div>

        <div class="form-group">
            <label><strong>Author:</strong></label>
            <p>{{ book.author.data.name }}</p>
        </div>

        <div class="form-group">
            <label><strong>Genre:</strong></label>
            <p>{{ book.genre.data.name }}</p>
        </div>

        <div class="form-group">
            <label><strong>Language:</strong></label>
            <p>{{ book.language.data.code }}</p>
        </div>

        <div class="form-group">
            <label><strong>Date:</strong></label>
            <p>{{ book.published_at }}</p>
        </div>

        <div class="form-group">
            <label><strong>ISBN Number:</strong></label>
            <p>{{ book.isbn_number }}</p>
        </div>

        <div class="form-group">
            <router-link to="/" class="btn btn-default" tag="button">Back</router-link>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                book: {
                    id: null,
                    title: null,
                    author: {
                        data: {
                            id: null,
                            name: ''
                        }
                    },
                    genre: {
                        data: {
                            id: null,
                            name: ''
                        }
                    },
                    language: {
                        data: {
                            id: null,
                            code: ''
                        }
                    },
                    media: {
                        data: {
                            id: null,
                            url: ''
                        }
                    },
                    published_at: '',
                    isbn_number: ''
                }
            }
        },
        mounted() {
            this.fetchBook();
            this.fetchAuthors();
            this.fetchGenres();
            this.fetchLanguages();
        },
        methods: {
            fetchBook() {
                axios.get('/api/books/' + this.$route.params.id, {headers: {Accept: 'application/json'}})
                    .then(response => {
                        this.book = response.data.data;
                    })
                    .catch(err => console.log(err));
            },
        }
    }
</script>

<style></style>