<template>
    <div>
        <div v-bind:style="targetImage">
            <img :src="targetImage.url" width="200" height="200"/>
        </div>
        <form-errors :errors="errors"></form-errors>
        <section class="content-header">
            <h1 class="pull-right">
                <router-link :to="{ name: 'book-create' }" class="btn btn-primary">Create</router-link>
            </h1>
        </section>
        <div class="clearfix"></div>
        <div class="form-group col-sm-6 col-lg-6 col-md-6">
            <div class="input-group mb-3">
                <input
                        v-model="search"
                        @input="changePage(pagination.current_page)"
                        type="text"
                        class="form-control"
                        placeholder="Search..."
                        aria-label="Search..."
                       aria-describedby="basic-addon2"
                >
            </div>
        </div>
        <div class="table-responsive table-hover">
            <table class="table fa-hover">
                <thead>
                <tr>
                    <th @click="changePage(pagination.current_page, 'id', this.order === 'desc' ? this.order = 'asc' : this.order = 'desc')" scope="col">Id<i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th @click="changePage(pagination.current_page, 'title', this.order === 'desc' ? this.order = 'asc' : this.order = 'desc')" scope="col">Title<i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th @click="changePage(pagination.current_page, 'authors|name', this.order === 'desc' ? this.order = 'asc' : this.order = 'desc')" scope="col">Author<i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th @click="changePage(pagination.current_page, 'genres|name', this.order === 'desc' ? this.order = 'asc' : this.order = 'desc')" scope="col">Genre<i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th @click="changePage(pagination.current_page, 'languages|code', this.order === 'desc' ? this.order = 'asc' : this.order = 'desc')" scope="col">Language<i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th @click="changePage(pagination.current_page, 'published_at', this.order === 'desc' ? this.order = 'asc' : this.order = 'desc')" scope="col">Date<i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th @click="changePage(pagination.current_page, 'isbn_number', this.order === 'desc' ? this.order = 'asc' : this.order = 'desc')" scope="col">ISBN<i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(book, index) in books" @mouseover="mouseOver($event, book)">
                    <td>{{ book.id }}</td>
                    <td>{{ book.title }}
                        <router-link :to="{ name: 'book-edit', params: { id: book.id }}" class='btn btn-default btn-xs'>
                            <i class="fa fa-edit"></i></router-link>
                    </td>
                    <td>{{ book.author.data.name }}</td>
                    <td>{{ book.genre.data.name }}</td>
                    <td>{{ book.language.data.code }}</td>
                    <td>{{ book.published_at }}</td>
                    <td>{{ book.isbn_number }}</td>
                    <td>
                        <div class='btn-group'>
                            <router-link :to="{ name: 'book-view', params: { id: book.id }}"
                                         class='btn btn-default btn-xs'>View
                            </router-link>
                            <router-link :to="{ name: 'book-edit', params: { id: book.id }}"
                                         class='btn btn-default btn-xs'>Edit
                            </router-link>
                            <a href="#" class='btn btn-default btn-xs' @click="deleteBook(book)">Del</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation" v-if="pagination.total_pages > 1">
            <ul class="pagination">
                <li
                        :class="[{ disabled: !pagination.prev_page_url }]"
                        class="page-item"
                >
                    <a class="page-link" href="#" @click="changePage(pagination.current_page - 1)">Previous</a>
                </li>
                <li
                        v-for="page in pagination.pages"
                        class="page-item"
                        :class="[{ disabled: pagination.current_page === page }]"
                >
                    <a class="page-link" href="#" @click="changePage(page)">{{ page }}</a>
                </li>
                <li
                        :class="[{ disabled: !pagination.next_page_url }]"
                        class="page-item"
                >
                    <a class="page-link" href="#" @click="changePage(pagination.current_page + 1)">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                books: [],
                pagination: {
                    current_page: 1,
                    last_page: 1,
                    next_page_url: null,
                    prev_page_url: null,
                    total_pages: 1,
                    pages: []
                },
                targetImage: {
                    top: '0px',
                    left: '0px',
                    position: 'absolute',
                    visibility: 'hidden',
                    url: ''
                },
                errors: [],
                search: '',
                order: 'desc',
                field: 'id'
            }
        },
        created() {
            this.fetchBooks(this.pagination.current_page);
        },

        methods: {
            fetchBooks(page, field, order) {
                let vm = this;
                let url = '/api/books';
                axios.get(url, {
                    headers: {Accept: 'application/json'},
                    params: {
                        page: page,
                        search: this.search,
                        orderBy: field,
                        sortedBy: order
                    },
                })
                    .then(response => {
                        this.books = response.data.data;
                        vm.makePagination(response.data.meta);
                    })
                    .catch(err => console.log(err));
            },
            changePage: function (page, field = 'id', order = 'desc') {
                this.pagination.current_page = page;
                this.fetchBooks(page, field, order);
            },
            makePagination(meta) {
                let pagination = {
                    current_page: meta.pagination.current_page,
                    last_page: meta.pagination.total,
                    next_page_url: meta.pagination.links.next ? meta.pagination.links.next : null,
                    prev_page_url: meta.pagination.links.previous ? meta.pagination.links.previous : null,
                    total_pages: meta.pagination.total_pages,
                    pages: this.generatePages(meta.pagination.total_pages)
                };
                this.pagination = pagination;
            },
            generatePages(total_pages) {
                let pages = [];
                for (let i = 1; i <= total_pages; i++) {
                    pages.push(i);
                }

                return pages;
            },
            deleteBook(book) {
                axios.delete('/api/books/' + book.id, {headers: {Accept: 'application/json'}})
                    .then(response => {
                        alert('Book deleted.');
                        this.changePage(this.pagination.current_page);
                    })
                    .catch(err => console.log(err))
            },
            mouseOver(e, book) {
                this.targetImage.top = (e.clientY + 20) + 'px';
                this.targetImage.left = (e.clientX + 20) + 'px';
                this.targetImage.url = book.media.data.url;
                this.targetImage.visibility = 'visible';
            }
        }
    }
</script>

<style></style>