<template>
    <div>
        <form method="post" @submit.prevent="updateBook(book)" :action="/books/ + book.id" enctype="multipart/form-data">
            <div class="form-group">
                <img :src="book.media.data.url" alt="cover" class="img-thumbnail" width="300" height="300">
            </div>
            <div class="form-group col-sm-12 col-lg-12 col-md-12">
                <label>Image</label>
                <input type="file" name="image" v-on:change="onFileChange" class="form-control">
            </div>
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" v-model="book.title" required>
            </div>
            <div class="form-group">
                <label>Date</label>
                <input type="date" class="form-control" v-model="book.published_at" required>
            </div>
            <div class="form-group">
                <label>ISBN Number</label>
                <input type="number" class="form-control" v-model="book.isbn_number" required>
            </div>
            <div class="form-group">
                <label>Author</label>
                <select class="form-control" v-model="book.author.data.id" required>
                    <option disabled value="">Select Author...</option>
                    <option :value="author.id" v-for="author in authors">{{ author.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Genre</label>
                <select class="form-control" v-model="book.genre.data.id" required>
                    <option disabled value="">Select genre...</option>
                    <option :value="genre.id" v-for="genre in genres">{{ genre.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Language</label>
                <select class="form-control" v-model="book.language.data.id" required>
                    <option disabled value="">Select language...</option>
                    <option :value="language.id" v-for="language in languages">{{ language.code }}</option>
                </select>
            </div>

            <div class="form-group">
                <button class="btn btn-primary">Save</button>
                <router-link to="/" class="btn btn-default" tag="button">Cancel</router-link>
            </div>
        </form>
        <form-errors :errors="errors"></form-errors>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                book: {
                    id: null,
                    title: null,
                    author: {
                        data: {
                            id: null,
                            name: ''
                        }
                    },
                    genre: {
                        data: {
                            id: null,
                            name: ''
                        }
                    },
                    language: {
                        data: {
                            id: null,
                            code: ''
                        }
                    },
                    media: {
                        data: {
                            id: null,
                            url: ''
                        }
                    },
                    published_at: '',
                    isbn_number: ''
                },
                authors: [],
                genres: [],
                languages: [],
                image: null,
                errors: []
            }
        },
        mounted() {
            this.fetchBook();
            this.fetchAuthors();
            this.fetchGenres();
            this.fetchLanguages();
        },
        methods: {
            fetchBook() {
                axios.get('/api/books/' + this.$route.params.id, {headers: {Accept: 'application/json'}})
                    .then(response => {
                        this.book = response.data.data;
                    })
                    .catch(err => console.log(err));
            },
            fetchAuthors() {
                axios.get('/api/authors', {headers: {Accept: 'application/json'}})
                    .then(response => {
                        this.authors = response.data.data;
                    })
                    .catch(err => console.log(err));
            },
            fetchGenres() {
                axios.get('/api/genres', {headers: {Accept: 'application/json'}})
                    .then(response => {
                        this.genres = response.data.data;
                    })
                    .catch(err => console.log(err));
            },
            fetchLanguages() {
                axios.get('/api/languages', {headers: {Accept: 'application/json'}})
                    .then(response => {
                        this.languages = response.data.data;
                    })
                    .catch(err => console.log(err));
            },
            updateBook(book) {
                const formData = new FormData();
                formData.append('image', this.image, this.image.name);
                formData.append('title', book.title);
                formData.append('author_id', book.author.data.id);
                formData.append('genre_id', book.genre.data.id);
                formData.append('language_id', book.language.data.id);
                formData.append('published_at', book.published_at);
                formData.append('isbn_number', book.isbn_number);
                axios.post('/api/books/' + book.id, formData,
                    {
                        headers: {
                            Accept: 'application/json'
                        }
                    })
                    .then(response => {
                        this.errors = [];
                        this.$router.push('/books');
                    })
                    .catch(err => console.log(err));
            },
            onFileChange(e) {
                console.log(e);
                this.image = e.target.files[0];
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
        }
    }
</script>

<style></style>