<template>
    <div>
        <span class="help-block">
        <ul>
            <li v-for="error in errors"><strong>{{ error[0] }}</strong></li>
        </ul>
        </span>
    </div>
</template>

<script>
    export default {
        props: ['errors']
    }
</script>