<template>
    <nav class="navbar navbar-expand-sm navbar-dark bg-info mb-2">
        <div class="container">
            <a href="#" class="navbar-brand">Books</a>
        </div>
    </nav>
</template>

<script>

</script>

<style></style>